{"swagger":"2.0","info":{"description":"Curated wrapper views over Norwegian public data and NGO supply data, served\nby PostgREST. Values are republished as the upstream publishes them.\n\nTHE CATALOGUE — start here:\n  meta_endpoints    every relation below, with tags. The index.\n  meta_sources      one row per ingested source: licence, publisher,\n                    coverage, freshness, downstream model count.\n  meta_dimensions   one row per source x upstream dimension: what that coded\n                    column MEANS and its value format. Read it before\n                    interpreting a code, and before deriving a fact about a\n                    dimension from prose.\n\nINDICATORS — municipal figures from SSB, FHI and Bufdir:\n  indicator_summary            one row per (source, measure): latest year,\n                               coverage, value range.\n  indicator_latest_values      per-kommune values at the latest year.\n  indicator_missing_kommuner   which kommuner an indicator does NOT cover.\n  coverage_gap_barnefattigdom  the same question for child poverty.\n  unattributed_totals          the remainder belonging to no kommune, so\n                               totals reconcile.\n  kommune_befolkning_alder     population by age band and sex.\n  bufdir_indicator_alias       Bufdir indicator naming.\n\nSUPPLY — voluntary-sector presence:\n  ngo_index, ngo_overview      organisations and their summary.\n  activity_catalog             what each organisation does.\n  kommune_ngo_summary          per-kommune rollup.\n  kommune_ngo_totals           national totals; reconcile these against\n                               unattributed_totals.\n  distrikt_summary             chapters by district.\n  kommune_local_chapters       chapters resolved to a kommune.\n\nREFERENCE:\n  dim_kommune                  the municipality dimension. Keeps SSB's 9999\n                               'Uoppgitt' because Klass 131 publishes it; the\n                               analytical relations exclude it.\n  brreg_enhet                  the Bronnoysund register mirror.\n\nTIME IS THE DIMENSION MOST OFTEN MISREAD. A year here can be the FIRST year\nof a multi-year window. indicator_summary.latest_year pairs with\nlatest_year_window_years, and indicator_latest_values.year with window_years;\nthe span is year .. year + window_years - 1. meta_dimensions carries the\nupstream's own words for the same fact.","title":"Atlas — open semantic layer over Norwegian public data","version":"14.10"},"host":"api-atlas.urbalurba.com","basePath":"/","schemes":["https"],"consumes":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json","text/csv"],"produces":["application/json","application/vnd.pgrst.object+json;nulls=stripped","application/vnd.pgrst.object+json","text/csv"],"paths":{"/":{"get":{"produces":["application/openapi+json","application/json"],"responses":{"200":{"description":"OK"}},"summary":"OpenAPI description (this document)","tags":["Introspection"]}},"/coverage_gap_barnefattigdom":{"get":{"description":"poverty data, combining the EUskala60 share (% of children in\nlow-income households) with the Personer count (number of\nchildren). Backs the barnefattigdom map page (atlas-frontend\n/coverage-gap/barnefattigdom).\n\nFirst member of the mart_coverage_gap_<topic> family. Future\ncoverage-gap maps follow the same shape: latest year per kommune,\none row per kommune, value(s) pivoted out of contents_code into\nnamed columns. PostgREST projects this view as a single endpoint;\nconsumers don't filter, they read the whole map dataset in one\nrequest.\n\nInactive kommuner are excluded so the map renders today's\nkommune set. NULL values are kept in place — Map.tsx renders\nthem as \"no data\".","parameters":[{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.kommune_nr"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.kommune_name"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.fylke_name"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.year"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.value_pct"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.personer"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.barn_i_lavinntekt"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/coverage_gap_barnefattigdom"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"One row per active kommune for the latest year of SSB 08764 child","tags":["coverage_gap_barnefattigdom"]},"post":{"description":"poverty data, combining the EUskala60 share (% of children in\nlow-income households) with the Personer count (number of\nchildren). Backs the barnefattigdom map page (atlas-frontend\n/coverage-gap/barnefattigdom).\n\nFirst member of the mart_coverage_gap_<topic> family. Future\ncoverage-gap maps follow the same shape: latest year per kommune,\none row per kommune, value(s) pivoted out of contents_code into\nnamed columns. PostgREST projects this view as a single endpoint;\nconsumers don't filter, they read the whole map dataset in one\nrequest.\n\nInactive kommuner are excluded so the map renders today's\nkommune set. NULL values are kept in place — Map.tsx renders\nthem as \"no data\".","parameters":[{"$ref":"#/parameters/body.coverage_gap_barnefattigdom"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"One row per active kommune for the latest year of SSB 08764 child","tags":["coverage_gap_barnefattigdom"]},"delete":{"description":"poverty data, combining the EUskala60 share (% of children in\nlow-income households) with the Personer count (number of\nchildren). Backs the barnefattigdom map page (atlas-frontend\n/coverage-gap/barnefattigdom).\n\nFirst member of the mart_coverage_gap_<topic> family. Future\ncoverage-gap maps follow the same shape: latest year per kommune,\none row per kommune, value(s) pivoted out of contents_code into\nnamed columns. PostgREST projects this view as a single endpoint;\nconsumers don't filter, they read the whole map dataset in one\nrequest.\n\nInactive kommuner are excluded so the map renders today's\nkommune set. NULL values are kept in place — Map.tsx renders\nthem as \"no data\".","parameters":[{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.kommune_nr"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.kommune_name"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.fylke_name"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.year"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.value_pct"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.personer"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.barn_i_lavinntekt"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per active kommune for the latest year of SSB 08764 child","tags":["coverage_gap_barnefattigdom"]},"patch":{"description":"poverty data, combining the EUskala60 share (% of children in\nlow-income households) with the Personer count (number of\nchildren). Backs the barnefattigdom map page (atlas-frontend\n/coverage-gap/barnefattigdom).\n\nFirst member of the mart_coverage_gap_<topic> family. Future\ncoverage-gap maps follow the same shape: latest year per kommune,\none row per kommune, value(s) pivoted out of contents_code into\nnamed columns. PostgREST projects this view as a single endpoint;\nconsumers don't filter, they read the whole map dataset in one\nrequest.\n\nInactive kommuner are excluded so the map renders today's\nkommune set. NULL values are kept in place — Map.tsx renders\nthem as \"no data\".","parameters":[{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.kommune_nr"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.kommune_name"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.fylke_name"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.year"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.value_pct"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.personer"},{"$ref":"#/parameters/rowFilter.coverage_gap_barnefattigdom.barn_i_lavinntekt"},{"$ref":"#/parameters/body.coverage_gap_barnefattigdom"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per active kommune for the latest year of SSB 08764 child","tags":["coverage_gap_barnefattigdom"]}},"/kommune_local_chapters":{"get":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nActive local chapters in each kommune, decorated with the NGO\nname/brand and the service-category labels offered. Backs the\nkommune detail page (atlas-frontend /kommuner/[kommune_nr]);\nequivalent to listChaptersInKommune().\n\n**Important:** this view returns *multiple rows per chapter* —\none per service category the chapter offers. A chapter that\nprovides three service categories appears as three rows for the\nsame kommune_nr / chapter_id, with different\nservice_category_code values. Consumers that want unique chapters\nshould distinct on chapter_id (or aggregate service categories\ninto an array client-side).\n\nGRAIN: one row per (kommune_nr, chapter_id,\nservice_category_code), asserted by a test rather than only\ndescribed here. It is neither one row per chapter nor one row per\nchapter-kommune coverage relation — a consumer told us those were\nthe two shapes it would guess between (urb-agents #1289).\n\nPostgREST consumers filter via ?kommune_nr=eq.X. Inactive\nchapters, non-local chapters (regional, national), and chapters\nwith NULL kommune_nr are excluded. ⚠️ Excluding regional chapters\nmeans the kommuner a regional chapter serves do NOT appear here;\nsee kommune_nr for why that gap is not closed elsewhere either.\nSvalbard (Longyearbyen Røde Kors) is included even though no 21xx\ncode is in dim_kommune — the FK relationships test is\n`warn`-severity to keep this row visible.","parameters":[{"$ref":"#/parameters/rowFilter.kommune_local_chapters.kommune_nr"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.chapter_id"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_brand_name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.service_category_code"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.service_category_label_no"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.sort_order"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/kommune_local_chapters"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per local chapter, so it is empty until Red Cross chapter data is loaded.","tags":["kommune_local_chapters"]},"post":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nActive local chapters in each kommune, decorated with the NGO\nname/brand and the service-category labels offered. Backs the\nkommune detail page (atlas-frontend /kommuner/[kommune_nr]);\nequivalent to listChaptersInKommune().\n\n**Important:** this view returns *multiple rows per chapter* —\none per service category the chapter offers. A chapter that\nprovides three service categories appears as three rows for the\nsame kommune_nr / chapter_id, with different\nservice_category_code values. Consumers that want unique chapters\nshould distinct on chapter_id (or aggregate service categories\ninto an array client-side).\n\nGRAIN: one row per (kommune_nr, chapter_id,\nservice_category_code), asserted by a test rather than only\ndescribed here. It is neither one row per chapter nor one row per\nchapter-kommune coverage relation — a consumer told us those were\nthe two shapes it would guess between (urb-agents #1289).\n\nPostgREST consumers filter via ?kommune_nr=eq.X. Inactive\nchapters, non-local chapters (regional, national), and chapters\nwith NULL kommune_nr are excluded. ⚠️ Excluding regional chapters\nmeans the kommuner a regional chapter serves do NOT appear here;\nsee kommune_nr for why that gap is not closed elsewhere either.\nSvalbard (Longyearbyen Røde Kors) is included even though no 21xx\ncode is in dim_kommune — the FK relationships test is\n`warn`-severity to keep this row visible.","parameters":[{"$ref":"#/parameters/body.kommune_local_chapters"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per local chapter, so it is empty until Red Cross chapter data is loaded.","tags":["kommune_local_chapters"]},"delete":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nActive local chapters in each kommune, decorated with the NGO\nname/brand and the service-category labels offered. Backs the\nkommune detail page (atlas-frontend /kommuner/[kommune_nr]);\nequivalent to listChaptersInKommune().\n\n**Important:** this view returns *multiple rows per chapter* —\none per service category the chapter offers. A chapter that\nprovides three service categories appears as three rows for the\nsame kommune_nr / chapter_id, with different\nservice_category_code values. Consumers that want unique chapters\nshould distinct on chapter_id (or aggregate service categories\ninto an array client-side).\n\nGRAIN: one row per (kommune_nr, chapter_id,\nservice_category_code), asserted by a test rather than only\ndescribed here. It is neither one row per chapter nor one row per\nchapter-kommune coverage relation — a consumer told us those were\nthe two shapes it would guess between (urb-agents #1289).\n\nPostgREST consumers filter via ?kommune_nr=eq.X. Inactive\nchapters, non-local chapters (regional, national), and chapters\nwith NULL kommune_nr are excluded. ⚠️ Excluding regional chapters\nmeans the kommuner a regional chapter serves do NOT appear here;\nsee kommune_nr for why that gap is not closed elsewhere either.\nSvalbard (Longyearbyen Røde Kors) is included even though no 21xx\ncode is in dim_kommune — the FK relationships test is\n`warn`-severity to keep this row visible.","parameters":[{"$ref":"#/parameters/rowFilter.kommune_local_chapters.kommune_nr"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.chapter_id"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_brand_name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.service_category_code"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.service_category_label_no"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.sort_order"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per local chapter, so it is empty until Red Cross chapter data is loaded.","tags":["kommune_local_chapters"]},"patch":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nActive local chapters in each kommune, decorated with the NGO\nname/brand and the service-category labels offered. Backs the\nkommune detail page (atlas-frontend /kommuner/[kommune_nr]);\nequivalent to listChaptersInKommune().\n\n**Important:** this view returns *multiple rows per chapter* —\none per service category the chapter offers. A chapter that\nprovides three service categories appears as three rows for the\nsame kommune_nr / chapter_id, with different\nservice_category_code values. Consumers that want unique chapters\nshould distinct on chapter_id (or aggregate service categories\ninto an array client-side).\n\nGRAIN: one row per (kommune_nr, chapter_id,\nservice_category_code), asserted by a test rather than only\ndescribed here. It is neither one row per chapter nor one row per\nchapter-kommune coverage relation — a consumer told us those were\nthe two shapes it would guess between (urb-agents #1289).\n\nPostgREST consumers filter via ?kommune_nr=eq.X. Inactive\nchapters, non-local chapters (regional, national), and chapters\nwith NULL kommune_nr are excluded. ⚠️ Excluding regional chapters\nmeans the kommuner a regional chapter serves do NOT appear here;\nsee kommune_nr for why that gap is not closed elsewhere either.\nSvalbard (Longyearbyen Røde Kors) is included even though no 21xx\ncode is in dim_kommune — the FK relationships test is\n`warn`-severity to keep this row visible.","parameters":[{"$ref":"#/parameters/rowFilter.kommune_local_chapters.kommune_nr"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.chapter_id"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.ngo_brand_name"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.service_category_code"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.service_category_label_no"},{"$ref":"#/parameters/rowFilter.kommune_local_chapters.sort_order"},{"$ref":"#/parameters/body.kommune_local_chapters"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per local chapter, so it is empty until Red Cross chapter data is loaded.","tags":["kommune_local_chapters"]}},"/meta_dimensions":{"get":{"description":"column mean\" panel on `/data/sources/[source_id]` (customer\nfrontend, PLAN-007 phase 4) and exposes editorial semantics\nshoppers would otherwise have to leave Atlas to find on the\nupstream's docs site.\n\nv1 scope (this PR): editorial pass-through over the\n`_sources_dimensions` seed (4 columns: `meaning`, `value_format`,\n`notes`). The `cardinality`, `example_values`, and `null_count`\ncolumns from PLAN-007 phase 3.4's full spec require introspecting\n`raw.<source>` tables with per-source column-name rules — deferred\nto a follow-up PR. See `mart_meta_dimensions.sql` header for the\nopen question (Jinja loop vs separate Python extract script vs\nper-source `column_name:` field in manifest.yml).\n\nRow count = same as `_sources_dimensions` (~216, growing with\nevery new source × upstream-dimension).","parameters":[{"$ref":"#/parameters/rowFilter.meta_dimensions.source_id"},{"$ref":"#/parameters/rowFilter.meta_dimensions.code"},{"$ref":"#/parameters/rowFilter.meta_dimensions.meaning"},{"$ref":"#/parameters/rowFilter.meta_dimensions.value_format"},{"$ref":"#/parameters/rowFilter.meta_dimensions.notes"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/meta_dimensions"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"Per-source × per-dimension catalogue. Backs the \"what does this","tags":["meta_dimensions"]},"post":{"description":"column mean\" panel on `/data/sources/[source_id]` (customer\nfrontend, PLAN-007 phase 4) and exposes editorial semantics\nshoppers would otherwise have to leave Atlas to find on the\nupstream's docs site.\n\nv1 scope (this PR): editorial pass-through over the\n`_sources_dimensions` seed (4 columns: `meaning`, `value_format`,\n`notes`). The `cardinality`, `example_values`, and `null_count`\ncolumns from PLAN-007 phase 3.4's full spec require introspecting\n`raw.<source>` tables with per-source column-name rules — deferred\nto a follow-up PR. See `mart_meta_dimensions.sql` header for the\nopen question (Jinja loop vs separate Python extract script vs\nper-source `column_name:` field in manifest.yml).\n\nRow count = same as `_sources_dimensions` (~216, growing with\nevery new source × upstream-dimension).","parameters":[{"$ref":"#/parameters/body.meta_dimensions"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"Per-source × per-dimension catalogue. Backs the \"what does this","tags":["meta_dimensions"]},"delete":{"description":"column mean\" panel on `/data/sources/[source_id]` (customer\nfrontend, PLAN-007 phase 4) and exposes editorial semantics\nshoppers would otherwise have to leave Atlas to find on the\nupstream's docs site.\n\nv1 scope (this PR): editorial pass-through over the\n`_sources_dimensions` seed (4 columns: `meaning`, `value_format`,\n`notes`). The `cardinality`, `example_values`, and `null_count`\ncolumns from PLAN-007 phase 3.4's full spec require introspecting\n`raw.<source>` tables with per-source column-name rules — deferred\nto a follow-up PR. See `mart_meta_dimensions.sql` header for the\nopen question (Jinja loop vs separate Python extract script vs\nper-source `column_name:` field in manifest.yml).\n\nRow count = same as `_sources_dimensions` (~216, growing with\nevery new source × upstream-dimension).","parameters":[{"$ref":"#/parameters/rowFilter.meta_dimensions.source_id"},{"$ref":"#/parameters/rowFilter.meta_dimensions.code"},{"$ref":"#/parameters/rowFilter.meta_dimensions.meaning"},{"$ref":"#/parameters/rowFilter.meta_dimensions.value_format"},{"$ref":"#/parameters/rowFilter.meta_dimensions.notes"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"Per-source × per-dimension catalogue. Backs the \"what does this","tags":["meta_dimensions"]},"patch":{"description":"column mean\" panel on `/data/sources/[source_id]` (customer\nfrontend, PLAN-007 phase 4) and exposes editorial semantics\nshoppers would otherwise have to leave Atlas to find on the\nupstream's docs site.\n\nv1 scope (this PR): editorial pass-through over the\n`_sources_dimensions` seed (4 columns: `meaning`, `value_format`,\n`notes`). The `cardinality`, `example_values`, and `null_count`\ncolumns from PLAN-007 phase 3.4's full spec require introspecting\n`raw.<source>` tables with per-source column-name rules — deferred\nto a follow-up PR. See `mart_meta_dimensions.sql` header for the\nopen question (Jinja loop vs separate Python extract script vs\nper-source `column_name:` field in manifest.yml).\n\nRow count = same as `_sources_dimensions` (~216, growing with\nevery new source × upstream-dimension).","parameters":[{"$ref":"#/parameters/rowFilter.meta_dimensions.source_id"},{"$ref":"#/parameters/rowFilter.meta_dimensions.code"},{"$ref":"#/parameters/rowFilter.meta_dimensions.meaning"},{"$ref":"#/parameters/rowFilter.meta_dimensions.value_format"},{"$ref":"#/parameters/rowFilter.meta_dimensions.notes"},{"$ref":"#/parameters/body.meta_dimensions"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"Per-source × per-dimension catalogue. Backs the \"what does this","tags":["meta_dimensions"]}},"/ngo_overview":{"get":{"description":"the per-NGO landing page (atlas-frontend /ngo/[slug]).\nEquivalent to the getNgoOverview() inline query, but precomputed\nfor all NGOs so PostgREST projects it as a single endpoint\nconsumers filter via ?orgnr=eq.X.\n\nCounts include both active and inactive chapters in the\nlevel-specific buckets (national/regional/local). kommune_count\ncounts distinct kommune_nr only across *active* local chapters,\nmatching the original query's behaviour.","parameters":[{"$ref":"#/parameters/rowFilter.ngo_overview.orgnr"},{"$ref":"#/parameters/rowFilter.ngo_overview.chapter_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.national_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.regional_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.local_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.activity_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.kommune_count"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ngo_overview"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"One row per NGO in dim_ngo with the six count metrics shown on","tags":["ngo_overview"]},"post":{"description":"the per-NGO landing page (atlas-frontend /ngo/[slug]).\nEquivalent to the getNgoOverview() inline query, but precomputed\nfor all NGOs so PostgREST projects it as a single endpoint\nconsumers filter via ?orgnr=eq.X.\n\nCounts include both active and inactive chapters in the\nlevel-specific buckets (national/regional/local). kommune_count\ncounts distinct kommune_nr only across *active* local chapters,\nmatching the original query's behaviour.","parameters":[{"$ref":"#/parameters/body.ngo_overview"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"One row per NGO in dim_ngo with the six count metrics shown on","tags":["ngo_overview"]},"delete":{"description":"the per-NGO landing page (atlas-frontend /ngo/[slug]).\nEquivalent to the getNgoOverview() inline query, but precomputed\nfor all NGOs so PostgREST projects it as a single endpoint\nconsumers filter via ?orgnr=eq.X.\n\nCounts include both active and inactive chapters in the\nlevel-specific buckets (national/regional/local). kommune_count\ncounts distinct kommune_nr only across *active* local chapters,\nmatching the original query's behaviour.","parameters":[{"$ref":"#/parameters/rowFilter.ngo_overview.orgnr"},{"$ref":"#/parameters/rowFilter.ngo_overview.chapter_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.national_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.regional_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.local_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.activity_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.kommune_count"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per NGO in dim_ngo with the six count metrics shown on","tags":["ngo_overview"]},"patch":{"description":"the per-NGO landing page (atlas-frontend /ngo/[slug]).\nEquivalent to the getNgoOverview() inline query, but precomputed\nfor all NGOs so PostgREST projects it as a single endpoint\nconsumers filter via ?orgnr=eq.X.\n\nCounts include both active and inactive chapters in the\nlevel-specific buckets (national/regional/local). kommune_count\ncounts distinct kommune_nr only across *active* local chapters,\nmatching the original query's behaviour.","parameters":[{"$ref":"#/parameters/rowFilter.ngo_overview.orgnr"},{"$ref":"#/parameters/rowFilter.ngo_overview.chapter_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.national_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.regional_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.local_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.activity_count"},{"$ref":"#/parameters/rowFilter.ngo_overview.kommune_count"},{"$ref":"#/parameters/body.ngo_overview"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per NGO in dim_ngo with the six count metrics shown on","tags":["ngo_overview"]}},"/brreg_enhet":{"get":{"description":"Enhetsregisteret, around 1.17 million rows, current as of the last change-feed run.\nCompanies, foundations, associations, public bodies and sole proprietorships.\n\n🔴 DO NOT SEND `Prefer: count=exact` WITH A FILTER ON THIS RELATION.\nMeasured 2026-09-21: a filtered `count=exact` takes 12-33 seconds,\nbecause PostgREST counts every matching row instead of stopping at\nyour limit. The same query without the header is sub-second, and an\nUNfiltered `count=exact` is 0.6s — it is the combination that is slow.\n\n⚠️ INSIDE A BROWSER FETCH THAT IS A TIMEOUT, NOT A SLOW ANSWER. A\nconsumer diagnosed it as a CORS failure, because a request that never\ncompletes is indistinguishable from a blocked one on the fetch side.\nCORS is fine (urb-agents #1361).\n\n⚠️ `count=planned` is 50x faster and was 6x WRONG on the filter\nmeasured — 118 against an actual 716. It is a planner estimate, not\na count. Use it only where an order of magnitude will do.\n\nKilde: Brønnøysundregistrene. Inneholder data under norsk lisens for offentlige data\n(NLOD) tilgjengeliggjort av Brønnøysundregistrene — https://data.norge.no/nlod/no/2.0.\nRe-users must carry this attribution onward; it is a condition of the licence, not a\ncourtesy.\n\nDeleted organisations are excluded. Brreg reports deletions through its change feed and\nAtlas applies them, so an organisation removed upstream disappears from here — but the\nversion history is kept, so what it looked like before removal remains answerable.\n\nCompleteness caveat: this reflects deletions Brreg REPORTS. A row Atlas holds that Brreg\nnever had would not be removed by any automatic path, because no change event would ever\nmention it.","parameters":[{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsnummer"},{"$ref":"#/parameters/rowFilter.brreg_enhet.navn"},{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsform_kode"},{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsform_beskrivelse"},{"$ref":"#/parameters/rowFilter.brreg_enhet.naeringskode1_kode"},{"$ref":"#/parameters/rowFilter.brreg_enhet.kommune_nr"},{"$ref":"#/parameters/rowFilter.brreg_enhet.antall_ansatte"},{"$ref":"#/parameters/rowFilter.brreg_enhet.har_registrert_antall_ansatte"},{"$ref":"#/parameters/rowFilter.brreg_enhet.konkurs"},{"$ref":"#/parameters/rowFilter.brreg_enhet.under_avvikling"},{"$ref":"#/parameters/rowFilter.brreg_enhet.under_tvangsavvikling"},{"$ref":"#/parameters/rowFilter.brreg_enhet.is_active"},{"$ref":"#/parameters/rowFilter.brreg_enhet.registrert_i_frivillighetsregisteret"},{"$ref":"#/parameters/rowFilter.brreg_enhet.registrert_dato"},{"$ref":"#/parameters/rowFilter.brreg_enhet.icnpo_nummer"},{"$ref":"#/parameters/rowFilter.brreg_enhet.icnpo_kategori"},{"$ref":"#/parameters/rowFilter.brreg_enhet.grasrotandel_deltar_i"},{"$ref":"#/parameters/rowFilter.brreg_enhet.frivillig_innfoert_dato"},{"$ref":"#/parameters/rowFilter.brreg_enhet.last_seen_at"},{"$ref":"#/parameters/rowFilter.brreg_enhet.reconciled_at"},{"$ref":"#/parameters/rowFilter.brreg_enhet.doc"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/brreg_enhet"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"Every organisation registered in Norway — the whole of Brønnøysundregistrene's","tags":["brreg_enhet"]},"post":{"description":"Enhetsregisteret, around 1.17 million rows, current as of the last change-feed run.\nCompanies, foundations, associations, public bodies and sole proprietorships.\n\n🔴 DO NOT SEND `Prefer: count=exact` WITH A FILTER ON THIS RELATION.\nMeasured 2026-09-21: a filtered `count=exact` takes 12-33 seconds,\nbecause PostgREST counts every matching row instead of stopping at\nyour limit. The same query without the header is sub-second, and an\nUNfiltered `count=exact` is 0.6s — it is the combination that is slow.\n\n⚠️ INSIDE A BROWSER FETCH THAT IS A TIMEOUT, NOT A SLOW ANSWER. A\nconsumer diagnosed it as a CORS failure, because a request that never\ncompletes is indistinguishable from a blocked one on the fetch side.\nCORS is fine (urb-agents #1361).\n\n⚠️ `count=planned` is 50x faster and was 6x WRONG on the filter\nmeasured — 118 against an actual 716. It is a planner estimate, not\na count. Use it only where an order of magnitude will do.\n\nKilde: Brønnøysundregistrene. Inneholder data under norsk lisens for offentlige data\n(NLOD) tilgjengeliggjort av Brønnøysundregistrene — https://data.norge.no/nlod/no/2.0.\nRe-users must carry this attribution onward; it is a condition of the licence, not a\ncourtesy.\n\nDeleted organisations are excluded. Brreg reports deletions through its change feed and\nAtlas applies them, so an organisation removed upstream disappears from here — but the\nversion history is kept, so what it looked like before removal remains answerable.\n\nCompleteness caveat: this reflects deletions Brreg REPORTS. A row Atlas holds that Brreg\nnever had would not be removed by any automatic path, because no change event would ever\nmention it.","parameters":[{"$ref":"#/parameters/body.brreg_enhet"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"Every organisation registered in Norway — the whole of Brønnøysundregistrene's","tags":["brreg_enhet"]},"delete":{"description":"Enhetsregisteret, around 1.17 million rows, current as of the last change-feed run.\nCompanies, foundations, associations, public bodies and sole proprietorships.\n\n🔴 DO NOT SEND `Prefer: count=exact` WITH A FILTER ON THIS RELATION.\nMeasured 2026-09-21: a filtered `count=exact` takes 12-33 seconds,\nbecause PostgREST counts every matching row instead of stopping at\nyour limit. The same query without the header is sub-second, and an\nUNfiltered `count=exact` is 0.6s — it is the combination that is slow.\n\n⚠️ INSIDE A BROWSER FETCH THAT IS A TIMEOUT, NOT A SLOW ANSWER. A\nconsumer diagnosed it as a CORS failure, because a request that never\ncompletes is indistinguishable from a blocked one on the fetch side.\nCORS is fine (urb-agents #1361).\n\n⚠️ `count=planned` is 50x faster and was 6x WRONG on the filter\nmeasured — 118 against an actual 716. It is a planner estimate, not\na count. Use it only where an order of magnitude will do.\n\nKilde: Brønnøysundregistrene. Inneholder data under norsk lisens for offentlige data\n(NLOD) tilgjengeliggjort av Brønnøysundregistrene — https://data.norge.no/nlod/no/2.0.\nRe-users must carry this attribution onward; it is a condition of the licence, not a\ncourtesy.\n\nDeleted organisations are excluded. Brreg reports deletions through its change feed and\nAtlas applies them, so an organisation removed upstream disappears from here — but the\nversion history is kept, so what it looked like before removal remains answerable.\n\nCompleteness caveat: this reflects deletions Brreg REPORTS. A row Atlas holds that Brreg\nnever had would not be removed by any automatic path, because no change event would ever\nmention it.","parameters":[{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsnummer"},{"$ref":"#/parameters/rowFilter.brreg_enhet.navn"},{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsform_kode"},{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsform_beskrivelse"},{"$ref":"#/parameters/rowFilter.brreg_enhet.naeringskode1_kode"},{"$ref":"#/parameters/rowFilter.brreg_enhet.kommune_nr"},{"$ref":"#/parameters/rowFilter.brreg_enhet.antall_ansatte"},{"$ref":"#/parameters/rowFilter.brreg_enhet.har_registrert_antall_ansatte"},{"$ref":"#/parameters/rowFilter.brreg_enhet.konkurs"},{"$ref":"#/parameters/rowFilter.brreg_enhet.under_avvikling"},{"$ref":"#/parameters/rowFilter.brreg_enhet.under_tvangsavvikling"},{"$ref":"#/parameters/rowFilter.brreg_enhet.is_active"},{"$ref":"#/parameters/rowFilter.brreg_enhet.registrert_i_frivillighetsregisteret"},{"$ref":"#/parameters/rowFilter.brreg_enhet.registrert_dato"},{"$ref":"#/parameters/rowFilter.brreg_enhet.icnpo_nummer"},{"$ref":"#/parameters/rowFilter.brreg_enhet.icnpo_kategori"},{"$ref":"#/parameters/rowFilter.brreg_enhet.grasrotandel_deltar_i"},{"$ref":"#/parameters/rowFilter.brreg_enhet.frivillig_innfoert_dato"},{"$ref":"#/parameters/rowFilter.brreg_enhet.last_seen_at"},{"$ref":"#/parameters/rowFilter.brreg_enhet.reconciled_at"},{"$ref":"#/parameters/rowFilter.brreg_enhet.doc"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"Every organisation registered in Norway — the whole of Brønnøysundregistrene's","tags":["brreg_enhet"]},"patch":{"description":"Enhetsregisteret, around 1.17 million rows, current as of the last change-feed run.\nCompanies, foundations, associations, public bodies and sole proprietorships.\n\n🔴 DO NOT SEND `Prefer: count=exact` WITH A FILTER ON THIS RELATION.\nMeasured 2026-09-21: a filtered `count=exact` takes 12-33 seconds,\nbecause PostgREST counts every matching row instead of stopping at\nyour limit. The same query without the header is sub-second, and an\nUNfiltered `count=exact` is 0.6s — it is the combination that is slow.\n\n⚠️ INSIDE A BROWSER FETCH THAT IS A TIMEOUT, NOT A SLOW ANSWER. A\nconsumer diagnosed it as a CORS failure, because a request that never\ncompletes is indistinguishable from a blocked one on the fetch side.\nCORS is fine (urb-agents #1361).\n\n⚠️ `count=planned` is 50x faster and was 6x WRONG on the filter\nmeasured — 118 against an actual 716. It is a planner estimate, not\na count. Use it only where an order of magnitude will do.\n\nKilde: Brønnøysundregistrene. Inneholder data under norsk lisens for offentlige data\n(NLOD) tilgjengeliggjort av Brønnøysundregistrene — https://data.norge.no/nlod/no/2.0.\nRe-users must carry this attribution onward; it is a condition of the licence, not a\ncourtesy.\n\nDeleted organisations are excluded. Brreg reports deletions through its change feed and\nAtlas applies them, so an organisation removed upstream disappears from here — but the\nversion history is kept, so what it looked like before removal remains answerable.\n\nCompleteness caveat: this reflects deletions Brreg REPORTS. A row Atlas holds that Brreg\nnever had would not be removed by any automatic path, because no change event would ever\nmention it.","parameters":[{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsnummer"},{"$ref":"#/parameters/rowFilter.brreg_enhet.navn"},{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsform_kode"},{"$ref":"#/parameters/rowFilter.brreg_enhet.organisasjonsform_beskrivelse"},{"$ref":"#/parameters/rowFilter.brreg_enhet.naeringskode1_kode"},{"$ref":"#/parameters/rowFilter.brreg_enhet.kommune_nr"},{"$ref":"#/parameters/rowFilter.brreg_enhet.antall_ansatte"},{"$ref":"#/parameters/rowFilter.brreg_enhet.har_registrert_antall_ansatte"},{"$ref":"#/parameters/rowFilter.brreg_enhet.konkurs"},{"$ref":"#/parameters/rowFilter.brreg_enhet.under_avvikling"},{"$ref":"#/parameters/rowFilter.brreg_enhet.under_tvangsavvikling"},{"$ref":"#/parameters/rowFilter.brreg_enhet.is_active"},{"$ref":"#/parameters/rowFilter.brreg_enhet.registrert_i_frivillighetsregisteret"},{"$ref":"#/parameters/rowFilter.brreg_enhet.registrert_dato"},{"$ref":"#/parameters/rowFilter.brreg_enhet.icnpo_nummer"},{"$ref":"#/parameters/rowFilter.brreg_enhet.icnpo_kategori"},{"$ref":"#/parameters/rowFilter.brreg_enhet.grasrotandel_deltar_i"},{"$ref":"#/parameters/rowFilter.brreg_enhet.frivillig_innfoert_dato"},{"$ref":"#/parameters/rowFilter.brreg_enhet.last_seen_at"},{"$ref":"#/parameters/rowFilter.brreg_enhet.reconciled_at"},{"$ref":"#/parameters/rowFilter.brreg_enhet.doc"},{"$ref":"#/parameters/body.brreg_enhet"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"Every organisation registered in Norway — the whole of Brønnøysundregistrene's","tags":["brreg_enhet"]}},"/bufdir_indicator_alias":{"get":{"description":"`indicator_api_id` renumbers. One row per (historical_id,\ncanonical_id) mapping consumers join on for cross-time-series\ncontinuity when Bufdir splits, retires, or renumbers a workbook\nupstream — e.g. the observed `Indikator 9` → `9a` / `9b` split,\nand `Indikator 10` retired without successor.\n\nThin republish of the editorial seed `bufdir_indicator_alias` so\nthe PLAN-004 generator auto-emits `api_v1.bufdir_indicator_alias`\n(the leading `mart_` is stripped per `models/marts/api/README.md`\n§ Naming).\n\nSee `website/docs/ai-developer/plans/active/PLAN-bufdir-surrogate-id-migration.md`\nfor design rationale + the maintenance ritual that appends rows\nwhen a new Bufdir bundle release surfaces additional renumbering.","parameters":[{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.source_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.historical_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.canonical_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.note"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/bufdir_indicator_alias"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"Cross-release alias table for `bufdir-barnefattigdom`","tags":["bufdir_indicator_alias"]},"post":{"description":"`indicator_api_id` renumbers. One row per (historical_id,\ncanonical_id) mapping consumers join on for cross-time-series\ncontinuity when Bufdir splits, retires, or renumbers a workbook\nupstream — e.g. the observed `Indikator 9` → `9a` / `9b` split,\nand `Indikator 10` retired without successor.\n\nThin republish of the editorial seed `bufdir_indicator_alias` so\nthe PLAN-004 generator auto-emits `api_v1.bufdir_indicator_alias`\n(the leading `mart_` is stripped per `models/marts/api/README.md`\n§ Naming).\n\nSee `website/docs/ai-developer/plans/active/PLAN-bufdir-surrogate-id-migration.md`\nfor design rationale + the maintenance ritual that appends rows\nwhen a new Bufdir bundle release surfaces additional renumbering.","parameters":[{"$ref":"#/parameters/body.bufdir_indicator_alias"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"Cross-release alias table for `bufdir-barnefattigdom`","tags":["bufdir_indicator_alias"]},"delete":{"description":"`indicator_api_id` renumbers. One row per (historical_id,\ncanonical_id) mapping consumers join on for cross-time-series\ncontinuity when Bufdir splits, retires, or renumbers a workbook\nupstream — e.g. the observed `Indikator 9` → `9a` / `9b` split,\nand `Indikator 10` retired without successor.\n\nThin republish of the editorial seed `bufdir_indicator_alias` so\nthe PLAN-004 generator auto-emits `api_v1.bufdir_indicator_alias`\n(the leading `mart_` is stripped per `models/marts/api/README.md`\n§ Naming).\n\nSee `website/docs/ai-developer/plans/active/PLAN-bufdir-surrogate-id-migration.md`\nfor design rationale + the maintenance ritual that appends rows\nwhen a new Bufdir bundle release surfaces additional renumbering.","parameters":[{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.source_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.historical_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.canonical_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.note"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"Cross-release alias table for `bufdir-barnefattigdom`","tags":["bufdir_indicator_alias"]},"patch":{"description":"`indicator_api_id` renumbers. One row per (historical_id,\ncanonical_id) mapping consumers join on for cross-time-series\ncontinuity when Bufdir splits, retires, or renumbers a workbook\nupstream — e.g. the observed `Indikator 9` → `9a` / `9b` split,\nand `Indikator 10` retired without successor.\n\nThin republish of the editorial seed `bufdir_indicator_alias` so\nthe PLAN-004 generator auto-emits `api_v1.bufdir_indicator_alias`\n(the leading `mart_` is stripped per `models/marts/api/README.md`\n§ Naming).\n\nSee `website/docs/ai-developer/plans/active/PLAN-bufdir-surrogate-id-migration.md`\nfor design rationale + the maintenance ritual that appends rows\nwhen a new Bufdir bundle release surfaces additional renumbering.","parameters":[{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.source_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.historical_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.canonical_id"},{"$ref":"#/parameters/rowFilter.bufdir_indicator_alias.note"},{"$ref":"#/parameters/body.bufdir_indicator_alias"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"Cross-release alias table for `bufdir-barnefattigdom`","tags":["bufdir_indicator_alias"]}},"/indicator_latest_values":{"get":{"description":"indicator's latest_year, restricted to active kommuner. Backs the\ndata explorer's per-indicator detail page (atlas-frontend\n/data/[source_id]/[contents_code]) and is the equivalent of the\nloadIndicatorValues() inline query.\n\n🔴 ROW COUNT IS NOT COVERAGE. A row exists for every active kommune\nthe source publishes at all, INCLUDING those where `value` is null.\nSo a series returns ~357 rows whether 357 kommuner have a number or\n66 do, and counting rows overstates coverage by up to five times.\n\n⚠️ This has always been true and became dangerous on 2026-09-21,\nwhen nine Ungdata sources published at 18-43 % kommune coverage\nagainst SSB register sources at nearly 100 %. `fhi-hasj` returns\n357 rows carrying 66 values.\n\n✅ `indicator_summary.kommuner_with_value` is the live count and the\nonly thing to trust. It is not restated here on purpose — a number\ncopied into a description goes stale, which is the defect that made\n`fhi-depresjon` advertise fourteen years of data it never held.\n\nPostgREST consumers filter via\n?source_id=eq.X&contents_code=eq.Y. The full table is the\ncross-product of every indicator with every active kommune that\nhas a row at latest_year, so the unfiltered row count is large\n(~360 active kommuner × ~70 indicators in v1).\n\nInactive kommuner (kommune_is_active = false) are excluded so the\noutput reflects today's kommune set, not historical codes that\nupstream still emits.","parameters":[{"$ref":"#/parameters/rowFilter.indicator_latest_values.source_id"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.contents_code"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.kommune_nr"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.kommune_name"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.fylke_name"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.value"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.status"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.year"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.window_years"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/indicator_latest_values"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"One row per (source_id, contents_code, kommune_nr) at each","tags":["indicator_latest_values"]},"post":{"description":"indicator's latest_year, restricted to active kommuner. Backs the\ndata explorer's per-indicator detail page (atlas-frontend\n/data/[source_id]/[contents_code]) and is the equivalent of the\nloadIndicatorValues() inline query.\n\n🔴 ROW COUNT IS NOT COVERAGE. A row exists for every active kommune\nthe source publishes at all, INCLUDING those where `value` is null.\nSo a series returns ~357 rows whether 357 kommuner have a number or\n66 do, and counting rows overstates coverage by up to five times.\n\n⚠️ This has always been true and became dangerous on 2026-09-21,\nwhen nine Ungdata sources published at 18-43 % kommune coverage\nagainst SSB register sources at nearly 100 %. `fhi-hasj` returns\n357 rows carrying 66 values.\n\n✅ `indicator_summary.kommuner_with_value` is the live count and the\nonly thing to trust. It is not restated here on purpose — a number\ncopied into a description goes stale, which is the defect that made\n`fhi-depresjon` advertise fourteen years of data it never held.\n\nPostgREST consumers filter via\n?source_id=eq.X&contents_code=eq.Y. The full table is the\ncross-product of every indicator with every active kommune that\nhas a row at latest_year, so the unfiltered row count is large\n(~360 active kommuner × ~70 indicators in v1).\n\nInactive kommuner (kommune_is_active = false) are excluded so the\noutput reflects today's kommune set, not historical codes that\nupstream still emits.","parameters":[{"$ref":"#/parameters/body.indicator_latest_values"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"One row per (source_id, contents_code, kommune_nr) at each","tags":["indicator_latest_values"]},"delete":{"description":"indicator's latest_year, restricted to active kommuner. Backs the\ndata explorer's per-indicator detail page (atlas-frontend\n/data/[source_id]/[contents_code]) and is the equivalent of the\nloadIndicatorValues() inline query.\n\n🔴 ROW COUNT IS NOT COVERAGE. A row exists for every active kommune\nthe source publishes at all, INCLUDING those where `value` is null.\nSo a series returns ~357 rows whether 357 kommuner have a number or\n66 do, and counting rows overstates coverage by up to five times.\n\n⚠️ This has always been true and became dangerous on 2026-09-21,\nwhen nine Ungdata sources published at 18-43 % kommune coverage\nagainst SSB register sources at nearly 100 %. `fhi-hasj` returns\n357 rows carrying 66 values.\n\n✅ `indicator_summary.kommuner_with_value` is the live count and the\nonly thing to trust. It is not restated here on purpose — a number\ncopied into a description goes stale, which is the defect that made\n`fhi-depresjon` advertise fourteen years of data it never held.\n\nPostgREST consumers filter via\n?source_id=eq.X&contents_code=eq.Y. The full table is the\ncross-product of every indicator with every active kommune that\nhas a row at latest_year, so the unfiltered row count is large\n(~360 active kommuner × ~70 indicators in v1).\n\nInactive kommuner (kommune_is_active = false) are excluded so the\noutput reflects today's kommune set, not historical codes that\nupstream still emits.","parameters":[{"$ref":"#/parameters/rowFilter.indicator_latest_values.source_id"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.contents_code"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.kommune_nr"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.kommune_name"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.fylke_name"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.value"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.status"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.year"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.window_years"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per (source_id, contents_code, kommune_nr) at each","tags":["indicator_latest_values"]},"patch":{"description":"indicator's latest_year, restricted to active kommuner. Backs the\ndata explorer's per-indicator detail page (atlas-frontend\n/data/[source_id]/[contents_code]) and is the equivalent of the\nloadIndicatorValues() inline query.\n\n🔴 ROW COUNT IS NOT COVERAGE. A row exists for every active kommune\nthe source publishes at all, INCLUDING those where `value` is null.\nSo a series returns ~357 rows whether 357 kommuner have a number or\n66 do, and counting rows overstates coverage by up to five times.\n\n⚠️ This has always been true and became dangerous on 2026-09-21,\nwhen nine Ungdata sources published at 18-43 % kommune coverage\nagainst SSB register sources at nearly 100 %. `fhi-hasj` returns\n357 rows carrying 66 values.\n\n✅ `indicator_summary.kommuner_with_value` is the live count and the\nonly thing to trust. It is not restated here on purpose — a number\ncopied into a description goes stale, which is the defect that made\n`fhi-depresjon` advertise fourteen years of data it never held.\n\nPostgREST consumers filter via\n?source_id=eq.X&contents_code=eq.Y. The full table is the\ncross-product of every indicator with every active kommune that\nhas a row at latest_year, so the unfiltered row count is large\n(~360 active kommuner × ~70 indicators in v1).\n\nInactive kommuner (kommune_is_active = false) are excluded so the\noutput reflects today's kommune set, not historical codes that\nupstream still emits.","parameters":[{"$ref":"#/parameters/rowFilter.indicator_latest_values.source_id"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.contents_code"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.kommune_nr"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.kommune_name"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.fylke_name"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.value"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.status"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.year"},{"$ref":"#/parameters/rowFilter.indicator_latest_values.window_years"},{"$ref":"#/parameters/body.indicator_latest_values"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per (source_id, contents_code, kommune_nr) at each","tags":["indicator_latest_values"]}},"/kommune_ngo_summary":{"get":{"description":"the number a consumer previously had to download the whole\nregister to compute. Published as api_v1.kommune_ngo_summary.\n\nPostgREST has aggregates disabled, so `?select=count()` returns\n400 and the only alternatives were ~15 minutes of per-kommune\nprobes or a 2.8 MB CSV on every page load. One consumer shipped\nthe download (urb-agents #1250, finding 1); this replaces it with\n~12 000 rows.\n\n⚠️ Counts here will NOT match a count over brreg_enhet. 7 488 of\n72 792 active voluntary units (10.3 %) carry no kommune_nr — that\nis what Brreg publishes — and cannot be attributed to a\nmunicipality. A handful more sit on codes outside the 357 active\nkommuner and are dropped by the join.\n\nA (kommune, category) pair absent from this view has zero\norganisations; rows are not emitted for empty combinations.\n\n⚠️ CHANGED 2026-09-21: SSB's 9999 'Uoppgitt' is no longer\nincluded. It is a current code, so `is_active` never excluded it,\nand this relation had been reporting a place that does not exist.\nCounts drop by that row. `dim_kommune` still carries 9999 — the\ndimension mirrors SSB's list — and the value is published in\n`unattributed_totals` (urb-agents #1301).\n\n⚠️ COST, AND ONE LOAD-BEARING DEPENDENCY. Measured end-to-end\nagainst the live API: 0.12 s filtered by kommune_nr, 0.205-0.326 s\nunfiltered for all rows. Before the covering index on\ndim_brreg_enhet it was 25 s cold for a 24 kB response and one\nrequest timed out. That index is not an optimisation — drop it and\nthis relation is unusable rather than slow.","parameters":[{"$ref":"#/parameters/rowFilter.kommune_ngo_summary.kommune_nr"},{"$ref":"#/parameters/rowFilter.kommune_ngo_summary.kommune_name"},{"$ref":"#/parameters/rowFilter.kommune_ngo_summary.icnpo_nummer"},{"$ref":"#/parameters/rowFilter.kommune_ngo_summary.icnpo_kategori"},{"$ref":"#/parameters/rowFilter.kommune_ngo_summary.active_count"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/kommune_ngo_summary"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"Active voluntary organisations per kommune and ICNPO category —","tags":["kommune_ngo_summary"]}},"/meta_endpoints":{"get":{"description":"upstream sources via the lineage graph and a `layer:<schema>` tag\nfrom the schema. Wraps to `api_v1.meta_endpoints` and backs the\ntag-filter catalogue at `/data` in the customer frontend\n(PLAN-007 phase 4).\n\n🔵 THIS IS THE INDEX, SO IT SAYS WHERE THE OTHER TWO CATALOGUES\nARE: `meta_sources` for one row per ingest source (licence,\npublisher, freshness), and `meta_dimensions` for one row per\nsource × upstream dimension — what each coded column means and\nits value format. A consumer enumerating relations here should\nnot have to read 19 descriptions to discover the second one\n(urb-agents #1335).\n\nIncludes endpoints from `api_v1.*`, `marts.*`, and `raw.*`\n(Atlas's three open-by-default schemas; `private_marts.*` stays\nauth-gated and is excluded). Skips internal seeds prefixed `_`\n(`_sources_manifest`, `_sources_dimensions`) and any `dbt_*`\ndiagnostic tables.\n\nTag inheritance uses the **union** rule: a `mart_*` derived from\nmany sources picks up every source's `provider:`, `topic:`,\n`geo:`, `cadence:`, and `eu_theme:` tag, deduped. Filter\n\"involves something annual\" beats \"purely annual\" — see PLAN-007\nphase 3.2 for the design rationale.","parameters":[{"$ref":"#/parameters/rowFilter.meta_endpoints.endpoint"},{"$ref":"#/parameters/rowFilter.meta_endpoints.schema_name"},{"$ref":"#/parameters/rowFilter.meta_endpoints.table_name"},{"$ref":"#/parameters/rowFilter.meta_endpoints.tags"},{"$ref":"#/parameters/rowFilter.meta_endpoints.is_public_api"},{"$ref":"#/parameters/rowFilter.meta_endpoints.table_type"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/meta_endpoints"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"One row per queryable Atlas endpoint, with tags inherited from","tags":["meta_endpoints"]},"post":{"description":"upstream sources via the lineage graph and a `layer:<schema>` tag\nfrom the schema. Wraps to `api_v1.meta_endpoints` and backs the\ntag-filter catalogue at `/data` in the customer frontend\n(PLAN-007 phase 4).\n\n🔵 THIS IS THE INDEX, SO IT SAYS WHERE THE OTHER TWO CATALOGUES\nARE: `meta_sources` for one row per ingest source (licence,\npublisher, freshness), and `meta_dimensions` for one row per\nsource × upstream dimension — what each coded column means and\nits value format. A consumer enumerating relations here should\nnot have to read 19 descriptions to discover the second one\n(urb-agents #1335).\n\nIncludes endpoints from `api_v1.*`, `marts.*`, and `raw.*`\n(Atlas's three open-by-default schemas; `private_marts.*` stays\nauth-gated and is excluded). Skips internal seeds prefixed `_`\n(`_sources_manifest`, `_sources_dimensions`) and any `dbt_*`\ndiagnostic tables.\n\nTag inheritance uses the **union** rule: a `mart_*` derived from\nmany sources picks up every source's `provider:`, `topic:`,\n`geo:`, `cadence:`, and `eu_theme:` tag, deduped. Filter\n\"involves something annual\" beats \"purely annual\" — see PLAN-007\nphase 3.2 for the design rationale.","parameters":[{"$ref":"#/parameters/body.meta_endpoints"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"One row per queryable Atlas endpoint, with tags inherited from","tags":["meta_endpoints"]},"delete":{"description":"upstream sources via the lineage graph and a `layer:<schema>` tag\nfrom the schema. Wraps to `api_v1.meta_endpoints` and backs the\ntag-filter catalogue at `/data` in the customer frontend\n(PLAN-007 phase 4).\n\n🔵 THIS IS THE INDEX, SO IT SAYS WHERE THE OTHER TWO CATALOGUES\nARE: `meta_sources` for one row per ingest source (licence,\npublisher, freshness), and `meta_dimensions` for one row per\nsource × upstream dimension — what each coded column means and\nits value format. A consumer enumerating relations here should\nnot have to read 19 descriptions to discover the second one\n(urb-agents #1335).\n\nIncludes endpoints from `api_v1.*`, `marts.*`, and `raw.*`\n(Atlas's three open-by-default schemas; `private_marts.*` stays\nauth-gated and is excluded). Skips internal seeds prefixed `_`\n(`_sources_manifest`, `_sources_dimensions`) and any `dbt_*`\ndiagnostic tables.\n\nTag inheritance uses the **union** rule: a `mart_*` derived from\nmany sources picks up every source's `provider:`, `topic:`,\n`geo:`, `cadence:`, and `eu_theme:` tag, deduped. Filter\n\"involves something annual\" beats \"purely annual\" — see PLAN-007\nphase 3.2 for the design rationale.","parameters":[{"$ref":"#/parameters/rowFilter.meta_endpoints.endpoint"},{"$ref":"#/parameters/rowFilter.meta_endpoints.schema_name"},{"$ref":"#/parameters/rowFilter.meta_endpoints.table_name"},{"$ref":"#/parameters/rowFilter.meta_endpoints.tags"},{"$ref":"#/parameters/rowFilter.meta_endpoints.is_public_api"},{"$ref":"#/parameters/rowFilter.meta_endpoints.table_type"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per queryable Atlas endpoint, with tags inherited from","tags":["meta_endpoints"]},"patch":{"description":"upstream sources via the lineage graph and a `layer:<schema>` tag\nfrom the schema. Wraps to `api_v1.meta_endpoints` and backs the\ntag-filter catalogue at `/data` in the customer frontend\n(PLAN-007 phase 4).\n\n🔵 THIS IS THE INDEX, SO IT SAYS WHERE THE OTHER TWO CATALOGUES\nARE: `meta_sources` for one row per ingest source (licence,\npublisher, freshness), and `meta_dimensions` for one row per\nsource × upstream dimension — what each coded column means and\nits value format. A consumer enumerating relations here should\nnot have to read 19 descriptions to discover the second one\n(urb-agents #1335).\n\nIncludes endpoints from `api_v1.*`, `marts.*`, and `raw.*`\n(Atlas's three open-by-default schemas; `private_marts.*` stays\nauth-gated and is excluded). Skips internal seeds prefixed `_`\n(`_sources_manifest`, `_sources_dimensions`) and any `dbt_*`\ndiagnostic tables.\n\nTag inheritance uses the **union** rule: a `mart_*` derived from\nmany sources picks up every source's `provider:`, `topic:`,\n`geo:`, `cadence:`, and `eu_theme:` tag, deduped. Filter\n\"involves something annual\" beats \"purely annual\" — see PLAN-007\nphase 3.2 for the design rationale.","parameters":[{"$ref":"#/parameters/rowFilter.meta_endpoints.endpoint"},{"$ref":"#/parameters/rowFilter.meta_endpoints.schema_name"},{"$ref":"#/parameters/rowFilter.meta_endpoints.table_name"},{"$ref":"#/parameters/rowFilter.meta_endpoints.tags"},{"$ref":"#/parameters/rowFilter.meta_endpoints.is_public_api"},{"$ref":"#/parameters/rowFilter.meta_endpoints.table_type"},{"$ref":"#/parameters/body.meta_endpoints"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"One row per queryable Atlas endpoint, with tags inherited from","tags":["meta_endpoints"]}},"/dim_kommune":{"get":{"description":"name joined. Published as api_v1.dim_kommune.\n\nFourteen references in this file already pointed at dim_kommune —\nfive column descriptions saying \"FK to dim_kommune\" and the rest\n`relationships` tests — while it was not published. A consumer\nbuilding on the API found the gap and called publishing it \"the\nsingle highest-leverage small addition on this list — every\nconsumer is currently rebuilding it, and each of us is rebuilding\nit slightly differently\" (urb-agents #1250, finding 4).\n\nHistorical codes are included with is_active = false, because a\nconsumer joining older data needs them to resolve. Filter\n?is_active=is.true for today's 357.\n\nPopulation and centroids are deliberately absent — see the model\nfor why; both would be wrong in a dimension rather than merely\nmissing.","parameters":[{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_nr"},{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_name"},{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_name_alt"},{"$ref":"#/parameters/rowFilter.dim_kommune.fylke_nr"},{"$ref":"#/parameters/rowFilter.dim_kommune.fylke_name"},{"$ref":"#/parameters/rowFilter.dim_kommune.is_active"},{"$ref":"#/parameters/rowFilter.dim_kommune.valid_from"},{"$ref":"#/parameters/rowFilter.dim_kommune.valid_to"},{"$ref":"#/parameters/rowFilter.dim_kommune.notes"},{"$ref":"#/parameters/rowFilter.dim_kommune.is_sentinel"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/dim_kommune"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"The canonical municipality registry — SSB Klass 131, with fylke","tags":["dim_kommune"]},"post":{"description":"name joined. Published as api_v1.dim_kommune.\n\nFourteen references in this file already pointed at dim_kommune —\nfive column descriptions saying \"FK to dim_kommune\" and the rest\n`relationships` tests — while it was not published. A consumer\nbuilding on the API found the gap and called publishing it \"the\nsingle highest-leverage small addition on this list — every\nconsumer is currently rebuilding it, and each of us is rebuilding\nit slightly differently\" (urb-agents #1250, finding 4).\n\nHistorical codes are included with is_active = false, because a\nconsumer joining older data needs them to resolve. Filter\n?is_active=is.true for today's 357.\n\nPopulation and centroids are deliberately absent — see the model\nfor why; both would be wrong in a dimension rather than merely\nmissing.","parameters":[{"$ref":"#/parameters/body.dim_kommune"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"The canonical municipality registry — SSB Klass 131, with fylke","tags":["dim_kommune"]},"delete":{"description":"name joined. Published as api_v1.dim_kommune.\n\nFourteen references in this file already pointed at dim_kommune —\nfive column descriptions saying \"FK to dim_kommune\" and the rest\n`relationships` tests — while it was not published. A consumer\nbuilding on the API found the gap and called publishing it \"the\nsingle highest-leverage small addition on this list — every\nconsumer is currently rebuilding it, and each of us is rebuilding\nit slightly differently\" (urb-agents #1250, finding 4).\n\nHistorical codes are included with is_active = false, because a\nconsumer joining older data needs them to resolve. Filter\n?is_active=is.true for today's 357.\n\nPopulation and centroids are deliberately absent — see the model\nfor why; both would be wrong in a dimension rather than merely\nmissing.","parameters":[{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_nr"},{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_name"},{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_name_alt"},{"$ref":"#/parameters/rowFilter.dim_kommune.fylke_nr"},{"$ref":"#/parameters/rowFilter.dim_kommune.fylke_name"},{"$ref":"#/parameters/rowFilter.dim_kommune.is_active"},{"$ref":"#/parameters/rowFilter.dim_kommune.valid_from"},{"$ref":"#/parameters/rowFilter.dim_kommune.valid_to"},{"$ref":"#/parameters/rowFilter.dim_kommune.notes"},{"$ref":"#/parameters/rowFilter.dim_kommune.is_sentinel"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"The canonical municipality registry — SSB Klass 131, with fylke","tags":["dim_kommune"]},"patch":{"description":"name joined. Published as api_v1.dim_kommune.\n\nFourteen references in this file already pointed at dim_kommune —\nfive column descriptions saying \"FK to dim_kommune\" and the rest\n`relationships` tests — while it was not published. A consumer\nbuilding on the API found the gap and called publishing it \"the\nsingle highest-leverage small addition on this list — every\nconsumer is currently rebuilding it, and each of us is rebuilding\nit slightly differently\" (urb-agents #1250, finding 4).\n\nHistorical codes are included with is_active = false, because a\nconsumer joining older data needs them to resolve. Filter\n?is_active=is.true for today's 357.\n\nPopulation and centroids are deliberately absent — see the model\nfor why; both would be wrong in a dimension rather than merely\nmissing.","parameters":[{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_nr"},{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_name"},{"$ref":"#/parameters/rowFilter.dim_kommune.kommune_name_alt"},{"$ref":"#/parameters/rowFilter.dim_kommune.fylke_nr"},{"$ref":"#/parameters/rowFilter.dim_kommune.fylke_name"},{"$ref":"#/parameters/rowFilter.dim_kommune.is_active"},{"$ref":"#/parameters/rowFilter.dim_kommune.valid_from"},{"$ref":"#/parameters/rowFilter.dim_kommune.valid_to"},{"$ref":"#/parameters/rowFilter.dim_kommune.notes"},{"$ref":"#/parameters/rowFilter.dim_kommune.is_sentinel"},{"$ref":"#/parameters/body.dim_kommune"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"The canonical municipality registry — SSB Klass 131, with fylke","tags":["dim_kommune"]}},"/kommune_ngo_totals":{"get":{"description":"registered there. 357 rows instead of the ~5 400 in\nkommune_ngo_summary. Published as api_v1.kommune_ngo_totals.\n\nExists because PostgREST cannot sum — `?select=active_count.sum()`\nreturns PGRST123, aggregates are disabled — so a consumer wanting\none number per kommune otherwise fetches every category row and\nadds them client-side. That was most of a cold page load\n(urb-agents #1265).\n\n⚠️ Counts exclude the 10.3 % of active voluntary units carrying no\nkommune_nr, exactly as kommune_ngo_summary does. Summing this gives\nthe placed total, not the register total.\n\n⚠️ CHANGED 2026-09-21: SSB's 9999 'Uoppgitt' is no longer\nincluded. It is a current code, so `is_active` never excluded it,\nand this relation had been reporting a place that does not exist.\nCounts drop by that row. `dim_kommune` still carries 9999 — the\ndimension mirrors SSB's list — and the value is published in\n`unattributed_totals` (urb-agents #1301).\n\n⚠️ COST, AND ONE LOAD-BEARING DEPENDENCY. Measured end-to-end\nagainst the live API: 0.12 s filtered by kommune_nr, 0.205-0.326 s\nunfiltered for all rows. Before the covering index on\ndim_brreg_enhet it was 25 s cold for a 24 kB response and one\nrequest timed out. That index is not an optimisation — drop it and\nthis relation is unusable rather than slow.","parameters":[{"$ref":"#/parameters/rowFilter.kommune_ngo_totals.kommune_nr"},{"$ref":"#/parameters/rowFilter.kommune_ngo_totals.kommune_name"},{"$ref":"#/parameters/rowFilter.kommune_ngo_totals.active_count"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/kommune_ngo_totals"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"One row per kommune: how many active voluntary organisations are","tags":["kommune_ngo_totals"]}},"/kommune_befolkning_alder":{"get":{"description":"Published as api_v1.kommune_befolkning_alder.\n\nBuilt from SSB table 07459 (age and sex distribution), which Atlas\nhas ingested and refreshed nightly for months while serving it to\nnobody: nothing downstream of raw read it, so `GET /ssb-07459`\nreturned 404. A consumer built its elderly-care view around care\nUSERS rather than elderly RESIDENTS and wrote a README section\napologising for it, noting the substitution flatters a kommune with\na high threshold for granting services (urb-agents #1281).\n\n⚠️ SIX BANDS SUM TO befolkning_total. TWO DO NOT — they are\nroll-ups of the six, provided because PostgREST has aggregates\ndisabled and a consumer would otherwise add them client-side:\n\n    sum to the total:  0_5 · 6_15 · 16_17 · 18_66 · 67_79 · 80_plus\n    roll-ups:          0_17     = 0_5 + 6_15 + 16_17\n                       67_plus  = 67_79 + 80_plus\n\nBands rather than a single \"elderly\" threshold on purpose. 67 is\ndefensible and it is still an editorial claim; publishing the bands\nleaves that claim with whoever makes it, and the same rows serve as\nthe denominator for child poverty and working-age dependency.\n\n⚠️ Counts are residents, not care recipients, and they are SSB's\nregister population at the start of the year — not an average over\nit. Historical kommune codes are excluded: only kommuner active\ntoday get rows, so a 1990 row exists for today's kommune, not for\nthe one that held that code in 1990.","parameters":[{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.kommune_nr"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.kommune_name"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.fylke_nr"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.fylke_name"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.year"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_0_5"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_6_15"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_16_17"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_18_66"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_67_79"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_80_plus"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_0_17"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.alder_67_plus"},{"$ref":"#/parameters/rowFilter.kommune_befolkning_alder.befolkning_total"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/kommune_befolkning_alder"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"Population by kommune, year and age band — the denominator layer.","tags":["kommune_befolkning_alder"]}},"/activity_catalog":{"get":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per (NGO, activity) joining dim_activity to the\nservice-category seed for the human-readable label, plus a count\nof active chapters offering each activity. Backs the per-NGO\nactivity catalogue page (atlas-frontend\n/ngo/[slug]/aktiviteter); equivalent to listActivities().\n\nThe full table is small (~35 rows for Red Cross alone in v1) and\ngrows as new NGOs land. PostgREST consumers filter via\n?ngo_orgnr=eq.X.","parameters":[{"$ref":"#/parameters/rowFilter.activity_catalog.activity_id"},{"$ref":"#/parameters/rowFilter.activity_catalog.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.activity_catalog.canonical_name"},{"$ref":"#/parameters/rowFilter.activity_catalog.service_category_code"},{"$ref":"#/parameters/rowFilter.activity_catalog.service_category_label_no"},{"$ref":"#/parameters/rowFilter.activity_catalog.is_active"},{"$ref":"#/parameters/rowFilter.activity_catalog.chapter_count"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/activity_catalog"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per (NGO, activity), so it is empty until Red Cross activity data is loaded.","tags":["activity_catalog"]},"post":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per (NGO, activity) joining dim_activity to the\nservice-category seed for the human-readable label, plus a count\nof active chapters offering each activity. Backs the per-NGO\nactivity catalogue page (atlas-frontend\n/ngo/[slug]/aktiviteter); equivalent to listActivities().\n\nThe full table is small (~35 rows for Red Cross alone in v1) and\ngrows as new NGOs land. PostgREST consumers filter via\n?ngo_orgnr=eq.X.","parameters":[{"$ref":"#/parameters/body.activity_catalog"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per (NGO, activity), so it is empty until Red Cross activity data is loaded.","tags":["activity_catalog"]},"delete":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per (NGO, activity) joining dim_activity to the\nservice-category seed for the human-readable label, plus a count\nof active chapters offering each activity. Backs the per-NGO\nactivity catalogue page (atlas-frontend\n/ngo/[slug]/aktiviteter); equivalent to listActivities().\n\nThe full table is small (~35 rows for Red Cross alone in v1) and\ngrows as new NGOs land. PostgREST consumers filter via\n?ngo_orgnr=eq.X.","parameters":[{"$ref":"#/parameters/rowFilter.activity_catalog.activity_id"},{"$ref":"#/parameters/rowFilter.activity_catalog.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.activity_catalog.canonical_name"},{"$ref":"#/parameters/rowFilter.activity_catalog.service_category_code"},{"$ref":"#/parameters/rowFilter.activity_catalog.service_category_label_no"},{"$ref":"#/parameters/rowFilter.activity_catalog.is_active"},{"$ref":"#/parameters/rowFilter.activity_catalog.chapter_count"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per (NGO, activity), so it is empty until Red Cross activity data is loaded.","tags":["activity_catalog"]},"patch":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per (NGO, activity) joining dim_activity to the\nservice-category seed for the human-readable label, plus a count\nof active chapters offering each activity. Backs the per-NGO\nactivity catalogue page (atlas-frontend\n/ngo/[slug]/aktiviteter); equivalent to listActivities().\n\nThe full table is small (~35 rows for Red Cross alone in v1) and\ngrows as new NGOs land. PostgREST consumers filter via\n?ngo_orgnr=eq.X.","parameters":[{"$ref":"#/parameters/rowFilter.activity_catalog.activity_id"},{"$ref":"#/parameters/rowFilter.activity_catalog.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.activity_catalog.canonical_name"},{"$ref":"#/parameters/rowFilter.activity_catalog.service_category_code"},{"$ref":"#/parameters/rowFilter.activity_catalog.service_category_label_no"},{"$ref":"#/parameters/rowFilter.activity_catalog.is_active"},{"$ref":"#/parameters/rowFilter.activity_catalog.chapter_count"},{"$ref":"#/parameters/body.activity_catalog"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its one row per (NGO, activity), so it is empty until Red Cross activity data is loaded.","tags":["activity_catalog"]}},"/distrikt_summary":{"get":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per regional chapter (Red Cross \"distrikt\" level, and the\nequivalent regional tier for any other NGO with a hierarchy).\nEach row carries denormalised counts of how many child chapters\nthe distrikt has and how many distinct kommuner those children\ncover. Backs atlas-frontend /ngo/[slug]/distrikter and the\nindividual /distrikt/[id] pages; equivalent to the listDistrikter()\ninline query.\n\nCounts come from dim_chapter joined back to itself by\nparent_chapter_id, filtered to active children. PostgREST\nconsumers filter via ?ngo_orgnr=eq.X (or ?chapter_id=eq.Y for the\nsingle-distrikt case).","parameters":[{"$ref":"#/parameters/rowFilter.distrikt_summary.chapter_id"},{"$ref":"#/parameters/rowFilter.distrikt_summary.name"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_nr"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_name"},{"$ref":"#/parameters/rowFilter.distrikt_summary.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.distrikt_summary.child_count"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_coverage_count"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/distrikt_summary"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its grain is Red Cross districts, so it is empty until that data is loaded.","tags":["distrikt_summary"]},"post":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per regional chapter (Red Cross \"distrikt\" level, and the\nequivalent regional tier for any other NGO with a hierarchy).\nEach row carries denormalised counts of how many child chapters\nthe distrikt has and how many distinct kommuner those children\ncover. Backs atlas-frontend /ngo/[slug]/distrikter and the\nindividual /distrikt/[id] pages; equivalent to the listDistrikter()\ninline query.\n\nCounts come from dim_chapter joined back to itself by\nparent_chapter_id, filtered to active children. PostgREST\nconsumers filter via ?ngo_orgnr=eq.X (or ?chapter_id=eq.Y for the\nsingle-distrikt case).","parameters":[{"$ref":"#/parameters/body.distrikt_summary"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its grain is Red Cross districts, so it is empty until that data is loaded.","tags":["distrikt_summary"]},"delete":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per regional chapter (Red Cross \"distrikt\" level, and the\nequivalent regional tier for any other NGO with a hierarchy).\nEach row carries denormalised counts of how many child chapters\nthe distrikt has and how many distinct kommuner those children\ncover. Backs atlas-frontend /ngo/[slug]/distrikter and the\nindividual /distrikt/[id] pages; equivalent to the listDistrikter()\ninline query.\n\nCounts come from dim_chapter joined back to itself by\nparent_chapter_id, filtered to active children. PostgREST\nconsumers filter via ?ngo_orgnr=eq.X (or ?chapter_id=eq.Y for the\nsingle-distrikt case).","parameters":[{"$ref":"#/parameters/rowFilter.distrikt_summary.chapter_id"},{"$ref":"#/parameters/rowFilter.distrikt_summary.name"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_nr"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_name"},{"$ref":"#/parameters/rowFilter.distrikt_summary.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.distrikt_summary.child_count"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_coverage_count"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its grain is Red Cross districts, so it is empty until that data is loaded.","tags":["distrikt_summary"]},"patch":{"description":"Terje's position, 2026-09-21: the Red Cross data is not coming now, it\nwill be there later. The relation is published and answers so a consumer\ncan build against its shape before the rows arrive.\n\n⚠️ A consumer cannot tell \"empty by design\" from \"broken\" without being\ntold, and two of these three were asked about on the day someone noticed\n(urb-agents #1351). If this relation is still empty and this note is\ngone, something regressed.\n\nOne row per regional chapter (Red Cross \"distrikt\" level, and the\nequivalent regional tier for any other NGO with a hierarchy).\nEach row carries denormalised counts of how many child chapters\nthe distrikt has and how many distinct kommuner those children\ncover. Backs atlas-frontend /ngo/[slug]/distrikter and the\nindividual /distrikt/[id] pages; equivalent to the listDistrikter()\ninline query.\n\nCounts come from dim_chapter joined back to itself by\nparent_chapter_id, filtered to active children. PostgREST\nconsumers filter via ?ngo_orgnr=eq.X (or ?chapter_id=eq.Y for the\nsingle-distrikt case).","parameters":[{"$ref":"#/parameters/rowFilter.distrikt_summary.chapter_id"},{"$ref":"#/parameters/rowFilter.distrikt_summary.name"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_nr"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_name"},{"$ref":"#/parameters/rowFilter.distrikt_summary.ngo_orgnr"},{"$ref":"#/parameters/rowFilter.distrikt_summary.child_count"},{"$ref":"#/parameters/rowFilter.distrikt_summary.kommune_coverage_count"},{"$ref":"#/parameters/body.distrikt_summary"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔵 EXPECTED EMPTY TODAY, AND THAT IS NOT A DEFECT. Its grain is Red Cross districts, so it is empty until that data is loaded.","tags":["distrikt_summary"]}},"/ngo_index":{"get":{"description":"matches an organisation's local units in Brønnøysundregistrene by a\nname SUBSTRING it maintains itself, and it asked Atlas explicitly NOT\nto publish that (urb-agents #1387):\n\n  \"That is a heuristic we invented and are answerable for;\n   ngo_index has no such column and should not.\"\n\n🔵 The split it drew, and it is the right one: the ROSTER is ours —\norgnr, canonical name, primary_focus, tier — and the MATCHING RULE is\ntheirs. A published pattern column would make Atlas answerable for a\nguess it did not make, and would make one consumer's heuristic look\nlike a property of the organisation.\n\n⚠️ THIS NOTE EXISTS BECAUSE THE OBVIOUS RESPONSE IS THE WRONG ONE.\nThat consumer has now deleted three hardcoded copies of Atlas data in\ntwo days, and each time the right fix was to publish what it was\ncopying — served_as for the unserved list, window_years for the\nwindowed-years map. The reflex \"it keeps a copy, so publish it\" is\ncorrect twice and wrong here. It keeps this copy on purpose.\n\nOne row per NGO in dim_ngo with chapter_count and has_supply\ndecorations. Backs the NGO landing page (atlas-frontend /ngo) and\nis equivalent to the listNgos() inline query.\n\nchapter_count counts only active chapters (dim_chapter.is_active),\nso a defunct NGO sits at 0 even if its historical chapters are\nretained. has_supply is the convenience boolean (chapter_count > 0).\nThe full table is small (~11 rows in v1, growing as new NGOs\nland), so PostgREST consumers typically read all of it.","parameters":[{"$ref":"#/parameters/rowFilter.ngo_index.orgnr"},{"$ref":"#/parameters/rowFilter.ngo_index.slug"},{"$ref":"#/parameters/rowFilter.ngo_index.name"},{"$ref":"#/parameters/rowFilter.ngo_index.brand_name"},{"$ref":"#/parameters/rowFilter.ngo_index.website_url"},{"$ref":"#/parameters/rowFilter.ngo_index.tier"},{"$ref":"#/parameters/rowFilter.ngo_index.chapter_data_shape"},{"$ref":"#/parameters/rowFilter.ngo_index.has_chapters"},{"$ref":"#/parameters/rowFilter.ngo_index.primary_focus"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_1"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_2"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_3"},{"$ref":"#/parameters/rowFilter.ngo_index.chapter_count"},{"$ref":"#/parameters/rowFilter.ngo_index.has_supply"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/order"},{"$ref":"#/parameters/range"},{"$ref":"#/parameters/rangeUnit"},{"$ref":"#/parameters/offset"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/preferCount"}],"responses":{"200":{"description":"OK","schema":{"items":{"$ref":"#/definitions/ngo_index"},"type":"array"}},"206":{"description":"Partial Content"}},"summary":"🔴 WHAT THIS RELATION DELIBERATELY DOES NOT CARRY. The demo consumer","tags":["ngo_index"]},"post":{"description":"matches an organisation's local units in Brønnøysundregistrene by a\nname SUBSTRING it maintains itself, and it asked Atlas explicitly NOT\nto publish that (urb-agents #1387):\n\n  \"That is a heuristic we invented and are answerable for;\n   ngo_index has no such column and should not.\"\n\n🔵 The split it drew, and it is the right one: the ROSTER is ours —\norgnr, canonical name, primary_focus, tier — and the MATCHING RULE is\ntheirs. A published pattern column would make Atlas answerable for a\nguess it did not make, and would make one consumer's heuristic look\nlike a property of the organisation.\n\n⚠️ THIS NOTE EXISTS BECAUSE THE OBVIOUS RESPONSE IS THE WRONG ONE.\nThat consumer has now deleted three hardcoded copies of Atlas data in\ntwo days, and each time the right fix was to publish what it was\ncopying — served_as for the unserved list, window_years for the\nwindowed-years map. The reflex \"it keeps a copy, so publish it\" is\ncorrect twice and wrong here. It keeps this copy on purpose.\n\nOne row per NGO in dim_ngo with chapter_count and has_supply\ndecorations. Backs the NGO landing page (atlas-frontend /ngo) and\nis equivalent to the listNgos() inline query.\n\nchapter_count counts only active chapters (dim_chapter.is_active),\nso a defunct NGO sits at 0 even if its historical chapters are\nretained. has_supply is the convenience boolean (chapter_count > 0).\nThe full table is small (~11 rows in v1, growing as new NGOs\nland), so PostgREST consumers typically read all of it.","parameters":[{"$ref":"#/parameters/body.ngo_index"},{"$ref":"#/parameters/select"},{"$ref":"#/parameters/preferPost"}],"responses":{"201":{"description":"Created"}},"summary":"🔴 WHAT THIS RELATION DELIBERATELY DOES NOT CARRY. The demo consumer","tags":["ngo_index"]},"delete":{"description":"matches an organisation's local units in Brønnøysundregistrene by a\nname SUBSTRING it maintains itself, and it asked Atlas explicitly NOT\nto publish that (urb-agents #1387):\n\n  \"That is a heuristic we invented and are answerable for;\n   ngo_index has no such column and should not.\"\n\n🔵 The split it drew, and it is the right one: the ROSTER is ours —\norgnr, canonical name, primary_focus, tier — and the MATCHING RULE is\ntheirs. A published pattern column would make Atlas answerable for a\nguess it did not make, and would make one consumer's heuristic look\nlike a property of the organisation.\n\n⚠️ THIS NOTE EXISTS BECAUSE THE OBVIOUS RESPONSE IS THE WRONG ONE.\nThat consumer has now deleted three hardcoded copies of Atlas data in\ntwo days, and each time the right fix was to publish what it was\ncopying — served_as for the unserved list, window_years for the\nwindowed-years map. The reflex \"it keeps a copy, so publish it\" is\ncorrect twice and wrong here. It keeps this copy on purpose.\n\nOne row per NGO in dim_ngo with chapter_count and has_supply\ndecorations. Backs the NGO landing page (atlas-frontend /ngo) and\nis equivalent to the listNgos() inline query.\n\nchapter_count counts only active chapters (dim_chapter.is_active),\nso a defunct NGO sits at 0 even if its historical chapters are\nretained. has_supply is the convenience boolean (chapter_count > 0).\nThe full table is small (~11 rows in v1, growing as new NGOs\nland), so PostgREST consumers typically read all of it.","parameters":[{"$ref":"#/parameters/rowFilter.ngo_index.orgnr"},{"$ref":"#/parameters/rowFilter.ngo_index.slug"},{"$ref":"#/parameters/rowFilter.ngo_index.name"},{"$ref":"#/parameters/rowFilter.ngo_index.brand_name"},{"$ref":"#/parameters/rowFilter.ngo_index.website_url"},{"$ref":"#/parameters/rowFilter.ngo_index.tier"},{"$ref":"#/parameters/rowFilter.ngo_index.chapter_data_shape"},{"$ref":"#/parameters/rowFilter.ngo_index.has_chapters"},{"$ref":"#/parameters/rowFilter.ngo_index.primary_focus"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_1"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_2"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_3"},{"$ref":"#/parameters/rowFilter.ngo_index.chapter_count"},{"$ref":"#/parameters/rowFilter.ngo_index.has_supply"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204":{"description":"No Content"}},"summary":"🔴 WHAT THIS RELATION DELIBERATELY DOES NOT CARRY. The demo consumer","tags":["ngo_index"]},"patch":{"description":"matches an organisation's local units in Brønnøysundregistrene by a\nname SUBSTRING it maintains itself, and it asked Atlas explicitly NOT\nto publish that (urb-agents #1387):\n\n  \"That is a heuristic we invented and are answerable for;\n   ngo_index has no such column and should not.\"\n\n🔵 The split it drew, and it is the right one: the ROSTER is ours —\norgnr, canonical name, primary_focus, tier — and the MATCHING RULE is\ntheirs. A published pattern column would make Atlas answerable for a\nguess it did not make, and would make one consumer's heuristic look\nlike a property of the organisation.\n\n⚠️ THIS NOTE EXISTS BECAUSE THE OBVIOUS RESPONSE IS THE WRONG ONE.\nThat consumer has now deleted three hardcoded copies of Atlas data in\ntwo days, and each time the right fix was to publish what it was\ncopying — served_as for the unserved list, window_years for the\nwindowed-years map. The reflex \"it keeps a copy, so publish it\" is\ncorrect twice and wrong here. It keeps this copy on purpose.\n\nOne row per NGO in dim_ngo with chapter_count and has_supply\ndecorations. Backs the NGO landing page (atlas-frontend /ngo) and\nis equivalent to the listNgos() inline query.\n\nchapter_count counts only active chapters (dim_chapter.is_active),\nso a defunct NGO sits at 0 even if its historical chapters are\nretained. has_supply is the convenience boolean (chapter_count > 0).\nThe full table is small (~11 rows in v1, growing as new NGOs\nland), so PostgREST consumers typically read all of it.","parameters":[{"$ref":"#/parameters/rowFilter.ngo_index.orgnr"},{"$ref":"#/parameters/rowFilter.ngo_index.slug"},{"$ref":"#/parameters/rowFilter.ngo_index.name"},{"$ref":"#/parameters/rowFilter.ngo_index.brand_name"},{"$ref":"#/parameters/rowFilter.ngo_index.website_url"},{"$ref":"#/parameters/rowFilter.ngo_index.tier"},{"$ref":"#/parameters/rowFilter.ngo_index.chapter_data_shape"},{"$ref":"#/parameters/rowFilter.ngo_index.has_chapters"},{"$ref":"#/parameters/rowFilter.ngo_index.primary_focus"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_1"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_2"},{"$ref":"#/parameters/rowFilter.ngo_index.icnpo_code_3"},{"$ref":"#/parameters/rowFilter.ngo_index.chapter_count"},{"$ref":"#/parameters/rowFilter.ngo_index.has_supply"},{"$ref":"#/parameters/body.ngo_index"},{"$ref":"#/parameters/preferReturn"}],"responses":{"204"
[...]
